          {% load static %}
          <!-- footer start -->
          <footer>
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                      <div class="full">
                         <div class="logo_footer">
                           <a href="#"><img width="210" src="/static/images/logo.png" alt="#" /></a>
                         </div>
                         <div class="information_f">
                           <p><strong>ADDRESS:</strong> 28 White tower, Street Name New York City, USA</p>
                           <p><strong>TELEPHONE:</strong> +91 987 654 3210</p>
                           <p><strong>EMAIL:</strong> yourmain@gmail.com</p>
                         </div>
                      </div>
                  </div>
                  <div class="col-md-8">
                     <div class="row">
                     <div class="col-md-7">
                        <div class="row">
                           <div class="col-md-6">
                        <div class="widget_menu">
                           <h3>Menu</h3>
                           <ul>
                              <li><a href="{% url 'ecommerce_site' %}">Home</a></li>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Contact</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="widget_menu">
                           <h3>Account</h3>
                           <ul>
                              {% if request.user.is_authenticated %}
                              <li><a href="{% url 'view_products' %}">Shopping</a></li>
                              {% else %}
                              <li><a href="{% url 'user_login' %}">Login</a></li>
                              <li><a href="{% url 'user_signup' %}">Register</a></li>
                              <li><a href="{% url 'view_products' %}">Shopping</a></li>
                              {% endif %}
                           </ul>
                        </div>
                     </div>
                        </div>
                     </div>     
                     <div class="col-md-5">
                        <div class="widget_menu">
                           <h3>Newsletter</h3>
                           <div class="information_f">
                             <p>Subscribe by our newsletter and get update protidin.</p>
                           </div>
                           <div class="form_sub">
                              <form enctype="multipart/form-data" method="POST" action="{% url 'email_subscribe' %}" style="text-align: center;">
                                 {% csrf_token %}
                                 <fieldset>
                                    <div class="field">
                                       <input type="email" placeholder="Enter Your Mail" name="email" />
                                       <input type="submit" value="Subscribe" />
                                    </div>
                                 </fieldset>
                              </form>
                           </div>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         
 
         <!-- footer end -->