{% extends "base.html" %}
{% load static %}
{% comment %} {% block title %}Famms Online Shopping | Forget Password{% endblock %} {% endcomment %}
{% block content %}

         <!-- INNER PAGE SECTION -->
         <section class="inner_page_head">
          <div class="container_fuild">
             
             <div class="row">
                <div class="col-md-12">
                   <div class="full">
                      <u><h3>Forget Password</h3></u>
                   </div>
                </div>
             </div>
          </div>
       </section>
       <!-- END INNER PAGE SECTION -->
        <!-- FORGET PASSWORD FORM -->
      <section class="why_section layout_padding">
        <div class="container">
         {% include 'message.html' %}
           <div class="row">
              <div class="col-lg-8 offset-lg-2">
                 <div class="full">
                    <form class="form" method="POST" action="{% url 'user_check' %}" name="Login" id="Login" >
                        {% csrf_token%}
                       <fieldset>
                          <input type="text"  name="username" id="username"placeholder="Enter your Username" required />
                          <input type="submit" value="Submit" />
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- END FORGET PASSWORD FORM -->
{% endblock content %} 